@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MemeFont';
    src: url('../assets/fonts/PermanentMarker-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MemeFont2';
    src: url('../assets/fonts/fugaz-one-latin-400-normal.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    background: linear-gradient(-90deg, #00d2ff 0%, aqua 100%);
}

* {
    color: white;
}

.wallet-adapter-button-trigger {
    background-color: pink !important;
    color: black !important;
    border: 2px solid black !important;
    transition: 0.5s ease-out;
}

.wallet-adapter-button-trigger:hover {
    background-color: rgb(255, 116, 139) !important;
}


.none {
    display: none;
}

.navbar {
    max-width: 1300px;
    display: flex;
    justify-content: end;
    background-color: transparent;
    padding: 24px;
    margin: 0 auto;
    gap: 12px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
}

.informpresale {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.informpresale img {
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    aspect-ratio: 16/9;
}

.inform {
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: pink;
    border: 4px solid rgb(46, 46, 46);
    gap: 24px;
}

.presaleform {
    border: 4px solid rgb(46, 46, 46);
    overflow: hidden;
    border-radius: 15px;
    flex: 0.8;
    background-color: pink;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    gap: 24px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}


.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-family: 'MemeFont', sans-serif;
    font-weight: 700;
    gap: 12px;
}

.left h3 {
    color: black;
}

.left video {
    width: 60px;
}

.right {
    display: flex;
    gap: 12px;
}

.right img {
    width: 40px;
    height: 40px;
}

.address {
    display: flex;
    gap: 12px;
    align-items: center;
}

.address h3 {
    font-family: 'MemeFont', sans-serif;
    color: black;
    font-size: 1.5rem;
}

.address p {
    font-family: 'MemeFont2', sans-serif;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(128, 128, 128, 0.808);
    padding: 6px 12px;
    border-radius: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about p {
    color: black;
    font-family: 'MemeFont2', sans-serif;
    font-size: 1rem;
}


.presaleform h2 {
    font-family: 'MemeFont', sans-serif;
    font-size: 2rem;
    color: black;
}

.presaleform h2:nth-child(3) {
    font-family: 'MemeFont2', sans-serif;
    font-size: 2.2rem;
    --webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(0, 212, 255) 100.2%);
    background-size: 200% 100%;
    animation: process 2s linear infinite;
}

.presaleform h3 {
    font-family: 'MemeFont2', sans-serif;
    font-size: 1.5rem;
    color: white;
    padding: 6px 12px;
    background: rgba(0, 128, 0, 0.8);
    width: fit-content;
    border-radius: 20px;
}

.totalraise {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: end;

}

.totalraiseinfo {
    font-family: 'MemeFont2', sans-serif;
    color: black;
}

.chart {
    height: 20px;
    width: 100%;
    border-radius: 15px;
    border: 3px solid black;
    overflow: hidden;
    display: flex;

}

.chartstatus {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, transparent 0%, transparent 10%, rgb(136, 77, 136) 10%, rgb(136, 77, 136) 20%, transparent 20%, transparent 30%, rgb(136, 77, 136) 30%, rgb(136, 77, 136) 40%, transparent 40%, transparent 50%, rgb(136, 77, 136) 50%, rgb(136, 77, 136) 60%, transparent 60%, transparent 70%, rgb(136, 77, 136) 70%, rgb(136, 77, 136) 80%, transparent 80%, transparent 90%, rgb(136, 77, 136) 90%, rgb(136, 77, 136) 100%);
    background-color: purple;
    background-size: 200% 100%;
    animation: process 3s linear infinite;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    background: #04AA6D;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

@keyframes process {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.raiseForm {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
}


input {
    padding: 6px;
    border-radius: 12px;
    background-color: rgb(51, 51, 51);
    border: 2px solid white;
    font-size: 1.3rem;
    width: 100%;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.267);
}

input[type="range"] {
    padding: 0;
}

.raiseForm p {
    font-family: 'Memefont2', sans-serif;
    color: black;
}

.raiseForm button {
    font-family: 'MemeFont2', sans-serif;
    background: white;
    color: black;
    padding: 6px;
    border-radius: 10px;
    font-size: 1.6rem;
    width: 100%;
    transition: 0.5s ease-out;
}

.raiseForm button:hover {
    background-color: rgb(43, 43, 43);
}

.raiseForm button:disabled {
    background-color: gray;
    opacity: 0.5;
}

.imgSocial {
    max-width: calc(1200px - 48px);
    aspect-ratio: 16/9;
    border-radius: 12px;
    overflow: hidden;
    border: 4px solid rgb(46, 46, 46);

}

.checkwl {
    font-family: 'MemeFont2', sans-serif;
    width: fit-content;
    padding: 0 12px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0 0 12px 0;
    }

    .informpresale {
        width: calc(100% - 24px);
        margin: 0 12px;
    }

    .presaleform {
        width: calc(100% - 24px);
        margin: 0 12px;
    }

    .imgSocial {
        max-width: 100%;
    }
}