@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    background-color: aqua;
}

* {
    color: white;
}

.none {
    display: none;
}

.navbar {
    max-width: 1300px;
    display: flex;
    justify-content: end;
    background-color: transparent;
    padding: 24px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.informpresale {
    width: 100%;
    aspect-ratio: 4/3;
}

.informpresale,
.presaleform {
    border-radius: 15px;
    flex: 1;
    gap: 24px;
    background-color: rgba(255, 192, 203, 0.8);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}